<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                              http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <display-name>Panificadora WebApp</display-name>
    <!-- Página de bienvenida -->
    <servlet>
        <servlet-name>CatalogoEmpaqueServlet</servlet-name>
        <servlet-class>servlet.CatalogoEmpaqueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TiendaServlet</servlet-name>
        <servlet-class>servlet.CatalogoTiendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalidaServlet</servlet-name>
        <servlet-class>servlet.SalidaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventarioServlet</servlet-name>
        <servlet-class>servlet.InventarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalleNotaVentaDAO</servlet-name>
        <servlet-class>servlet.DetalleNotaVentaDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotaVentaServlet</servlet-name>
        <servlet-class>servlet.NotaVentaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockServlet</servlet-name>
        <servlet-class>servlet.StockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpaquesPorRepartidorServlet</servlet-name>
        <servlet-class>servlet.EmpaquesPorRepartidorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatalogoPanServlet</servlet-name>
        <url-pattern>/CatalogoPanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogoEmpaqueServlet</servlet-name>
        <url-pattern>/CatalogoEmpaqueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TiendaServlet</servlet-name>
        <url-pattern>/TiendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalidaServlet</servlet-name>
        <url-pattern>/SalidaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventarioServlet</servlet-name>
        <url-pattern>/InventarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalleNotaVentaDAO</servlet-name>
        <url-pattern>/DetalleNotaVentaDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotaVentaServlet</servlet-name>
        <url-pattern>/NotaVentaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockServlet</servlet-name>
        <url-pattern>/StockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpaquesPorRepartidorServlet</servlet-name>
        <url-pattern>/EmpaquesPorRepartidorServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>jsp/home/inicio.jsp</welcome-file>
    </welcome-file-list>
    <!-- Login Servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogoPanServlet</servlet-name>
        <servlet-class>servlet.CatalogoPanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <!-- Logout Servlet -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <!-- Repartidor Servlet -->
    <servlet>
        <servlet-name>RepartidorServlet</servlet-name>
        <servlet-class>servlet.RepartidorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RepartidorServlet</servlet-name>
        <url-pattern>/RepartidorServlet</url-pattern>
    </servlet-mapping>
    <!-- Filtro de login -->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filtro.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
